.circle{
    top: -22px;
    left: -67px;
    width: 300px;
    height: 300px;
}
.circle1Imge1{
    top: 3px;
    right: 94px;
    width: 300px;
    height: 300px;
}
.egg{
  width: 300px;
  height: 400px;
  object-fit: cover;
   
   clip-path: polygon(42% 0, 62% 0, 100% 38%, 100% 67%, 65% 90%, 47% 98%, 34% 86%, 25% 77%, 12% 40%, 18% 0);



}

.circle2Imge1{
    top: 65px;
    right: 228px;
    width: 226px;
    height: 226px;
}
.doted::before{
    content: "";
  position: absolute;
  top: -14px;
  left: -60px;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgb(217, 217, 217,.51) 4px, transparent 4px);
  background-size: 25px 25px; /* زيادة حجم النقاط */
  z-index: -1; /* لضمان أنها تبقى في الخلف */
}


.circle3Imge1{
    bottom: 61px;
    right: 125px;
    width: 80px;
    height: 80px;
}
.circle4Imge1{
    bottom: 21px;
    right: 310px;
    width: 57px;
    height: 57px;
}



@media (max-width: 1510px) { 
    .circle1Imge1{
      top: 14px;
      right: -27px;
      width: 300px;
      height: 300px;
    }
    .circle2Imge1{
        top: 65px;
        right: 81px;
        width: 226px;
        height: 226px;
    }
    .circle3Imge1{
      bottom: 70px;
      right: -4px;
      width: 80px;
      height: 80px;
    }
    .circle4Imge1{
        bottom: 21px;
        right: 195px;
        width: 57px;
        height: 57px;
    }
  }
  
  @media (max-width: 768px) { 
    .circle4Imge1{
      bottom: 29px;
      right: 177px;
      width: 57px;
      height: 57px;
  }
  .dcircle3Imge1 {
    bottom: 70px;
    right: -4px;
    width: 80px;
    height: 80px;
  }
  }
  
  @media (max-width: 480px) { 
    .dcircle3Imge1 {
      bottom: 70px;
      right: -4px;
      width: 80px;
      height: 80px;
    }
  }
   

  .manCircle{
    top: -148px;
    left: -70px;
    width: 420px;
    height: 420px;
  }