@tailwind base;
@tailwind components;
@tailwind utilities;

/* إعدادات عامة للصفحة بأكملها */
body, html {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  /* إعدادات للحاوي الرئيسي للتطبيق */
  #root {
    max-width: 1280px;
    margin: 0 auto;
    background-color: black;
  }
  
  /* للتأكد من أن الخلفية السوداء تمتد لكامل العرض */
  #root::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
  }
  