@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alkalami&family=Andika:wght@400;700&family=Antic&family=Antic+Slab&family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');


/* إعدادات عامة للصفحة بأكملها */
body, html {
    margin: 0;
    padding: 0;
    color: white;
}

/* إعدادات للحاوي الرئيسي للتطبيق */
#root {
    margin: 0 auto;
}

/* للتأكد من أن الخلفية السوداء تمتد لكامل العرض */
#root::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
}
