

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Alkalami&family=Andika:wght@400;700&family=Antic&family=Antic+Slab&family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* إعدادات عامة للصفحة بأكملها */
body, html {
    margin: 0;
    padding: 0;
    color: white;
}

/* إعدادات للحاوي الرئيسي للتطبيق */
#root {
    margin: 0 auto;
}

/* للتأكد من أن الخلفية السوداء تمتد لكامل العرض */
#root::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
}



/* إزالة العداد للمتصفحات الحديثة */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* index.css */
.clip-custom-1 {
    clip-path: polygon(0 0, 55% 0, 83% 52%, 55% 100%, 0 100%, 0 46%);
  }
  
  .clip-custom-2 {
    clip-path: polygon(25% 0%, 75% 0%, 100% 54%, 75% 100%, 25% 100%, 0 55%);
  }
  